<h1>My movie lists</h1>
<p>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %>
    <%= link_to "-- Delete",
      list_path(list),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </li>
  <% end %>
</ul>
<p>

<%= link_to "+ Create a new list", new_list_path %>
